<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    id="jst-metamap-sdk-plugin"
    version="0.0.51">

    <name>MataMapSDKPlugin</name>
    <description>MataMapSDK Plugin For Cordova</description>
    <author>JST</author>
    <license>MIT</license>
    <engines>
        <engine name="cordova" version=">=3.5.0"/>
    </engines>
    <js-module src="www/metamap.js" name="metamap">
        <clobbers target="MetaMap" />
    </js-module>
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="CallMetaMap">
                <param name="ios-package" value="CallMetaMap"/>
                <param name="onload" value="false" />
            </feature>
        </config-file>
        <source-file src="src/ios/CallMetaMap.swift" target-dir="src/ios" />
        <source-file src="src/ios/MapViewController.swift" target-dir="src/ios" />
        <framework src="src/ios/Metamap.xcframework" embed="true" custom="true" /> 
        <framework src="src/ios/MetamapPositioning.xcframework" embed="true" custom="true" /> 
        <framework src="src/ios/MetamapPositioningCore.xcframework" embed="true" custom="true" /> 
    </platform>
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="CallMetaMap"> 
                <param name="android-package" value="jst.metamap.CallMetaMap"/>
                <param name="onload" value="false" />
            </feature>
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <activity android:name="jst.metamap.MetaMapActivity" android:exported="true" >
                <intent-filter>
                    <action android:name="android.intent.action.VIEW" />
                </intent-filter>
            </activity>
        </config-file>
        <source-file src="src/android/jst/metamap/CallMetaMap.kt" target-dir="app/src/main/java/jst/metamap" /> 
        <source-file src="src/android/jst/metamap/MetaMapActivity.kt" target-dir="app/src/main/java/jst/metamap" /> 
        <source-file src="src/android/sdk" target-dir="libs" /> 
        <framework src="build-extras.gradle" custom="true" type="gradleReference" />
    </platform>
</plugin>